.online-lable{
/* background: url("../images/icon-list-news.png") no-repeat 0 5px; */
    margin-bottom: 5px;
    padding-left: 10px;
}

.online-inputfield {
    width: 300px !important;
    height: 25px !important;
    border-radius: 3px !important;
}

.online-button-normal {
    height: 30px !important;
    width: 75px !important;
    border-radius: 3px;
    background-color: #118ade;
    color: #ffffff;
    font-weight: bold !important;
}

.visitor-tracking-wraper {
    min-height: 50px !important;
}

.current-visitor-online {
    padding-bottom: 5px !important;
}
.current-visitor-online{
	background: url("../images/icon-lock.png") no-repeat 0 5px;	
}
.total-visitor{
	background: url("../images/icon-aten.png") no-repeat 0 5px;	
}